.classpath
.idea
.project
.settings

CSAcademy/
CodeChef/
CodeForces/
Common/
HackerEarth/
HackerRankAlgo/
HackerRankContest/
HackerRankDataStructure/
InterviewPractice/
JavaOnlineWS.iml
Kattis/
LeetCode/
topCoder/
bin/
out/
*.jar
test*.txt
